html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

main {
    border: 2px solid black;
    width: 600px;
    padding: 20px
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none; 
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
}

.tab:hover {
    background: #e0e0e0;
}

.tab.selected {
    text-decoration: underline;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.selected {
    display: block; 
}